body {
    background:   gold;
    color:        #000000;
}
body {
    display: none;
}
.page-title {
    margin: auto;
    text-align: center;
}     
/*---------------------------------------*/
/*- (15) Sansita with Open Sans         -*/ 
/*---------------------------------------*/
h1 {
    font-family: 'Sansita', sans-serif;
    font-weight: 700;
    line-height: 46px;
    font-size: 42px;
    }
h2 {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 2px;
    }
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 23px; 
    }         